
@{
    ViewData["Title"] = "Redefinir Senha Confirmado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <section class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-8">
            <div class="card mt-4 ml-auto mr-auto">
                <div class="card-header bg-white">
                    <h3><i class="fas fa-sign text-secondary"></i>  Redefinir senha</h3>
                </div>
                <div class="card-body">
                    <p>Senha alterada com sucesso!</p>
                </div>
            </div>
        </div>
    </section>
</div>


