@model ListaFormViewModel

<div class="modal remove-hide fade" id="nova-lista-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-route="lista_post_update_lista" method="post" onsubmit="lista.submitUpdateLista(this,event)">
            <input asp-for="Id" hidden/>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-secondary"><i class="fas fa-clipboard-list"></i> Alterar lista:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="All" data-valmsg-summary="true" class="alert alert-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="m-0"></label>
                        <input asp-for="Nome" class="form-control focar__item" required>
                        <span class="invalid-feedback" asp-validation-for="Nome"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="m-0"></label>
                        <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="MonsterId" class="m-0"></label>
                        <input asp-for="MonsterId" hidden required />
                        <div class="monsters__select d-flex flex-wrap bd-highlight">
                            @foreach (var monster in Model.Monsters)
                            {
                                <div class="monsters__select__bloco @(Model.MonsterId == monster.Id ? "ativo" : "")" onclick="lista.alterarMonster(this,@monster.Id)">
                                    <span class="monsters__select__image" style="background-image:url('/imgs/monsters/@monster.Url');"></span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success btn-sm">Alterar lista</button>
                </div>
            </div>
        </form>
    </div>
</div>