/.vs
/Me.Mlists.Web/bin
/Me.Mlists.Web/obj
/Me.Mlists.Data/obj
/Me.Mlists.Data/bin
/Me.Mlists.Models/obj
/Me.Mlists.Models/bin
/Me.Mlists.Service/obj
/Me.Mlists.Service/bin
/Me.Mlists.Web/appsettings.json