@model ConvidadoListaFormViewModel

<div class="modal remove-hide fade" id="nova-lista-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-secondary"><i class="fas fa-clipboard-list"></i> Convidados:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="Painel" asp-controller="Convidado" asp-action="InsertConvidados" onsubmit="convidado.submitEnviarConvite(this,event)">
                    <div class="card">
                        <div class="card-header p-2">
                            <b>Convidar um amigo</b>
                        </div>
                        <div class="card-body p-2 pt-2">
                            <input asp-for="ListaId" hidden required />
                            <div asp-validation-summary="All" data-valmsg-summary="true" class="alert alert-danger"></div>
                            <div class="form-group">
                                <label asp-for="EmailConvidado" class="m-0"></label>
                                <input asp-for="EmailConvidado" class="form-control focar__item" required>
                                <span class="invalid-feedback" asp-validation-for="EmailConvidado"></span>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-success btn-sm">Enviar Convite</button>
                            </div>
                        </div>
                    </div>
                </form>
                @if (Model.Convidados.Count() > 0)
                {
                    <hr />
                    <div class="card">
                        <div class="card-header p-2">
                            <b>Convites enviados</b>
                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (var convidado in Model.Convidados)
                            {
                                <li class="list-group-item d-flex  justify-content-between bd-highlight p-2">
                                    <p class="m-0 align-self-center">@convidado.EmailConvite</p>
                                    <p class="m-0 align-self-center badge badge-secondary">@(convidado.IsAceitou == false ? "Não aceitou" : "Esperando...")</p>
                                    <form method="post" asp-area="Painel" asp-controller="Convidado" asp-action="ExcluirConvite" asp-route-convidadoId="@convidado.Id">
                                        <button class="btn btn-light" type="button" onclick="convidado.sendExcluirConvidado(this)"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>