
@{
    ViewData["Title"] = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    <section class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-8">
            <div class="card mt-4 ml-auto mr-auto">
                <div class="card-header bg-white">
                    <h3><i class="fas fa-sign text-secondary"></i> Bem vindo ao MList</h3>
                </div>
                <div class="card-body">
                    <p>Acabamos de te enviar um email.</p>
                    <p>Por favor, verifique sua caixa de entrada e clique no link enviado para confirmarmos o seu email!</p>
                </div>
            </div>
        </div>
    </section>
</div>