@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <style>
        main {
            height: 100% !important;
        }
        .banner {
            background-image: url('/imgs/banner-monsters-color.png');
            background-size:100%;
        }
        .banner__louza {
            background-color: #ffffffe3;
            padding-top:9%;
        }
        .banner__subtitulo {
            color: #B32929;
        }
    </style>
}

<section class="banner h-100 text-center">
    <div class="banner__louza h-100">
        <h4 class="banner__subtitulo font-weight-bold">Monsters Lists (To Do)</h4>
        <h1 class="display-4 font-weight-bold">Crie listas e não esqueça<br />nenhuma tarefa!</h1>
        <a class="btn btn-danger mt-2 mb-2 mt-sm-0 mb-sm-0 font-weight-bold" asp-area="Login" asp-controller="Registro" asp-action="Registrar">Registre-se</a>
    </div>
</section>
