@using Microsoft.AspNetCore.Identity
@using Me.Mlists.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <button class="btn btn-light d-block w-100 mt-2 mt-sm-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
        </button>
        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <form id="logoutForm" class="form-inline" asp-area="Login" asp-controller="Login" asp-action="Logoff" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="dropdown-item">
                    <i class="fas fa-sign-out-alt text-info"></i> Sair
                </button>
            </form>
        </div>

    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-light d-block mt-2 mb-2 mt-sm-0 mb-sm-0 text-dark font-weight-bold" asp-area="Login" asp-controller="Registro" asp-action="Registrar">Registre-se</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-success d-block ml-sm-3 font-weight-bold" asp-area="Login" asp-controller="Login" asp-action="Logar">Entrar</a>
    </li>
}